<h1>Help</h1>
<p>
<li>пользователи могут зарегистрироваться на сайте, указав логин, email, пароль (обязательно) и полное имя (необязательно)</br>
<li>email уникален и заполняется по образцу </br>
<li>зарегистрированный пользователь может изменить свой email, логин, пароль и полное имя</br>
<li>зарегистрированный пользователь может просмотреть список своих событий в календаре</br>
<li>зарегистрированный пользователь может просмотреть список всех событий в календаре</br>
<li>когда пользователь кликает на ссылку создания нового события, то появляется форма для создания нового события</br>
<li>события имеют название (обязательно) и дату (обязательно)</br>
<li>событие может быть повторяющимся </br>
<li>когда пользователь кликает на существующее событие в календаре, то появляется форма для редактирования события</br>
<li>пользователь может удалить свои события </br>
<li>администраторы могут удалять события пользователей и самих пользователей </br>
<li>при удалении пользователя все его события так же удаляются </br>
<li>пользователь помет просматривать профили других пользователей</br>
<li>в профиле отображаются все созданные им события</br>
</p>